<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url('app_home')}}"><img class="logo" src="{{ asset('img/logo.png') }}" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" 
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav m-auto gap-3">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url('app_home')}}">Accueil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_carpooling_index')}}"></i>covoiturage</a>
                    </li>

                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_user_dashboard') }}">Tableau de bord</a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_dashboard') }}">Espace Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('employee_index') }}">Gérer les employés</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_EMPLOYEE') %}
                            <li class="nav-item">
                                <a href="{{ path('employee_dashboard') }}">Espace employé</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <form action="{{ path('app_logout') }}" method="post">
                                <button class="nav-link" type="submit">Déconnexion</button>
                            </form>
                        </li>
                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_login')}}">connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_contact')}}">Contact</a>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>
</header>