{% extends 'base.html.twig' %}

{% block title %}CarpoolingAll{% endblock %}

{% block body %}

<div class="px-4 py-5 my-5 text-primary">
    <h1 class="display-5 pb-4">Vous recherchez un covoiturage<br>
        Nous avons le trajet qu'il vous faut !</h1>
</div>


    {#//Persona fait en dur
    //@TODO : pofil en dynamique#}
    {% if carpoolings|length %}
        {% for carpooling in carpoolings %}
            <div class="carCard container px-4 py-5 my-5 text-center">
                <div class="row p-2 pb-0 pe-lg-0 pt-lg-3 align-items-center rounded-3 border shadow-lg">
                    <div class="row d-flex w-100 justify-content-between">
                        {% for carpoolingParticipations in carpooling.carpoolingParticipations|filter(carpoolingParticipations => carpoolingParticipations.role == 'conducteur') %}
                            {# {% if carpoolingParticipations.role == 'conducteur' %} #}
                                <div class="col-lg-4 col-md-12 col-sm-12 pb-2" aria-expanded="true">
                                    {# {{ dump(carpoolingParticipations.users.photo) }} #}
                                    <img src="{{ asset('uploads/users/' ~ carpoolingParticipations.users.photo) }}" alt="photo" width="150" height="150" class="rounded-circle">
                                </div>
                                <h5 class="col-lg-4 col-md-12 col-sm-12 display-6 text-primary pt-3">
                                    Pseudo : <mark>{{ carpoolingParticipations.users.username }}</mark>
                                </h5>
                                <p class="col-lg-4 col-md-12 col-sm-12 display-6 text-primary pt-3">
                                    ***Note : <span>4,5/5</span>
                                </p>
                            {# {% endif %} #}
                        {% endfor %}
                    </div>

                    <div class="d-flex w-100 justify-content-start p-2 gap-3 border-bottom">
                        <p class="heading-1 text-primary me-5"><i class="bi bi-people"></i> Max. <span>{{ carpooling.numberSeats }}</span> à l'arrière</p>
                        <p class="heading-1 text-primary ms-5"><i class="bi bi-ev-front"></i> voyage écologique : <span></span> </p>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <p class="heading-1 text-primary pt-2"><i class="bi bi-calendar2-date"></i> Date de départ : <span>{{ carpooling.departureDate ? (carpooling.departureDate|date('d/m/Y')) : 'Non précisée' }}</span></p>
                        <p class="heading-1 text-primary pt-2"><i class="bi bi-calendar2-date"></i> Date d'arrivée : <span>{{ carpooling.arrivalDate ? (carpooling.arrivalDate|date('d/m/Y')) : 'Non précisée'  }}</span></p>
                    </div>
                    <div class="d-flex w-100 justify-content-between flex-fill">
                        <p class="heading-1 text-primary"><i class="bi bi-clock"></i> Heure de départ : <br><span>{{ carpooling.departureTime ? (carpooling.departureTime|date('H:i')) : 'Non précisée' }}</span></p>
                        <p class="heading-1 text-primary"><i class="bi bi-stopwatch"></i> Durée :  <br><span>{{ carpooling.duration ?? 'Non précisée' }}</span></p>
                        <p class="heading-1 text-primary"><i class="bi bi-clock-history"></i> Heure d'arrivée :  <br><span>{{ carpooling.arrivalTime ? (carpooling.arrivalTime|date('H:i')) : 'Non précisée' }}</span></p>
                    </div>
                    <div class="d-flex w-100 justify-content-between gap-3">
                        <p class="heading-1 text-primary me-5"><i class="bi bi-geo-alt"></i> Ville de départ : <br><span>{{ carpooling.departureAddress }}</span></p>
                        <p class="heading-1 text-primary ms-5"><i class="bi bi-geo-alt"></i> Ville d'arrivée :  <br><span>{{ carpooling.arrivalAddress }}</span></p>
                    </div>
                    <div class="d-flex w-100 justify-content-start p-3 gap-3">
                        <p class="heading-1 text-primary">Prix : <span>{{ carpooling.price }}</span><i class="bi bi-currency-euro"></i></p>
                    </div>
                    <div class="d-flex gap-2 justify-content-md-center mb-4 mb-lg-3">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-6 fw-bold"><i class="bi bi-search"></i> Détail</button>
                        {#//@TODO : bouton Modifier et supprimer à rajouter#}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-danger">Aucun covoiturage trouvé.</p>
    {% endif %}
    

{% endblock %}
