{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Créer un compte</h1>

    {{ form_start(registerForm) }}
        {{ form_row(registerForm.username) }}
        {{ form_row(registerForm.email) }}
        {{ form_row(registerForm.plainPassword.first) }}
        {{ form_row(registerForm.plainPassword.second) }}
        <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
        <p class="mt-3 text-center">
        Déjà inscrit ? <a href="{{ path('app_login') }}">Connecte-toi ici</a>
        </p>
    {{ form_end(registerForm) }}
</div>
{% endblock %}
